WEBSITE_URL=http://localhost:3000 # Add the correct ENV var for this onto your hosting platform, point it to your production website.
ENVIRONMENT=development
PORT=3000

NEXT_PUBLIC_API_URL=http://localhost:1337
PREVIEW_SECRET=preview_secret
REVALIDATE_WEBHOOK_SECRET=revalidate_webhook_secret
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=smtp-user
SMTP_PASS=smtp-password
SMTP_FROM="Meetswiss Transfers <no-reply@meetswiss.com>"
SMTP_TO=contact@meetswiss.com
CONTACT_SUBJECT_PREFIX=Meetswiss Transfers
